<div class="course-container" *ngFor="let course of courses">
    <div class="course-card">
        <div>
            <img [src]="course.image" style="width: 250px; height:140px;">
        </div>
        <div class="course-name p-1">{{course.name}}</div>
        <div class="des">{{ course.description}}</div>
        <div class="details">
            <div class="types" [ngStyle]="{color : course.type === 'Free' ? 'Green' : 'Red'}">{{course.type}}</div>
            <div class="price"><b>Price:</b>{{ course.price}}</div>
        </div>
        <div class="button">
            <button type="button" class="btn btn-success">BUY</button>
            <button type="button" class="btn btn-light">SHOW</button>
        </div>
    </div>
</div>