.bgcolor {
    background-color: bisque;
}

.close {
    float: right;
}

.alert {
    background-color: cadetblue;
    text-align: center;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}